#files:
#  /opt/elasticbeanstalk/hooks/appdeploy/post/01_create_cache.sh:
#    mode: "000755"
#    owner: root
#    group: root
#    content: |
#      if [ ! -f /var/app/current/public/threads ]; then touch /var/app/current/public/threads ; fi
#      cd /var/app/current/ && php artisan optimize --force && php artisan config:cache && php artisan migrate && php artisan db:seed
 
container_commands:
  threads:
    command: if [ ! -f /var/app/current/public/threads ]; then touch /var/app/current/public/threads ; fi
    ignoreErrors: true
  artisan:
    command: cd /var/app/current/ && php artisan optimize --force && php artisan config:cache && php artisan migrate && php artisan db:seed     
